@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html{
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: black;
}

::selection{
  background-color: white;
  color: black;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  /* margin-right: -10; */
  width: auto;
  padding: 0;
  margin: 0;
}
.my-masonry-grid_column {
  padding-left: -50px; /* gutter size */
  background-clip: padding-box;
  padding: 0px;
  margin: 0;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 0px;
}


.app{
  padding: 0px;
}